<link rel="stylesheet" href="../../public/stylesheets/pagination.css">
<div class="content-wrapper" ng-controller="myAdminStockOutListCtrl" ng-init="getCategories(); getDistricts();">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h1><%= title %></h1>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"><%= title %></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Select Category, Item, District and Date Range</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Categories</label>
                                <select class="form-control select2" ng-model="ddlCategories"
                                    ng-options="i.CategoryID as i.CategoryName for i in categories"
                                    ng-change="getItemsByCategory(ddlCategories); stockOutDetails = [];">
                                    <option value="" disabled>Select Category</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Items</label>
                                <select class="form-control select2" ng-model="ddlItems"
                                    ng-options="i.ItemID as i.ItemName for i in items"
                                    ng-change="stockOutDetails = [];">
                                    <option value="" disabled>Select Item</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Districts</label>
                                <select class="form-control select2" ng-model="ddlDistricts"
                                    ng-options="i.DistrictCode as i.DistrictName for i in districts"
                                    ng-change="stockOutDetails = [];">
                                    <option value="" disabled>Select District</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label>Date Range</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control float-right" id="dateRange" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" ng-click="getStockOutDetails()">View List</button>
                </div>
            </div>
            <div class="row" ng-show="stockOutDetails.length > 0">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Stock Out Details</h3><br>
                            <div class="card-tools" style="display: inline-flex">
                                <p style="margin-bottom: -3px;">No. of Records&nbsp;</p>
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="number" ng-model="pageSize" min="1" max="10000000"
                                        class="form-control float-right" placeholder="No. of Records">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-default"><i
                                                class="fas fa-edit"></i></button>
                                    </div>&nbsp;
                                </div>
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" ng-model="search"
                                        class="form-control float-right" placeholder="Search">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-default"><i
                                                class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <p style="margin-bottom: 0;"><span ng-show="totalQuintal.toFixed(2) != 0.00">Total Quantity:
                                    {{totalQuintal.toFixed(2)}} Qtls.</span> <span
                                    ng-show="totalQuintal.toFixed(2) != 0.00 && totalNo.toFixed(2) != 0.00">&</span>
                                <span ng-show="totalNo.toFixed(2) != 0.00">Total Quantity: {{totalNo.toFixed(2)}} Lakh
                                    Nos.</span></p>
                            <p ng-show="ddlDistricts != 0" style="margin-bottom: 0;">District:
                                {{districtName | capitalize}}</p>
                            <p ng-show="ddlCategories != 0" style="margin-bottom: 0;">Category:
                                {{categoryName | capitalize}}</p>
                            <p ng-show="ddlItems != 0" style="margin-bottom: 0;">Item: {{itemName | capitalize}}</p>
                            <p ng-show="displayDate != ''" style="margin-bottom: 0;">Date Range: {{displayDate}}</p>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-wrap">
                                <thead>
                                    <tr>
                                        <th ng-click="sort('DistrictName')" style="cursor: pointer;"
                                            ng-show="ddlDistricts == 0">
                                            District
                                            <span class="fa fa-sort" ng-show="sortKey=='DistrictName'"
                                                ng-class="{'fa fa-sort-down': reverse, 'fa fa-sort-up': !reverse}"></span>
                                        </th>
                                        <th ng-click="sort('Count')" style="cursor: pointer;">
                                            ReferenceNo
                                            <span class="fa fa-sort" ng-show="sortKey=='Count'"
                                                ng-class="{'fa fa-sort-down': reverse, 'fa fa-sort-up': !reverse}"></span>
                                        </th>
                                        <th ng-click="sort('FarmerID')" style="cursor: pointer;">
                                            Farmer ID
                                            <span class="fa fa-sort" ng-show="sortKey=='FarmerID'"
                                                ng-class="{'fa fa-sort-down': reverse, 'fa fa-sort-up': !reverse}"></span>
                                        </th>
                                        <th ng-click="sort('FarmerName')" style="cursor: pointer;">
                                            Farmer's Name
                                            <span class="fa fa-sort" ng-show="sortKey=='FarmerName'"
                                                ng-class="{'fa fa-sort-down': reverse, 'fa fa-sort-up': !reverse}"></span>
                                        </th>
                                        <th ng-click="sort('FarmerMobileNo')" style="cursor: pointer;">
                                            Farmer's Mobile No.
                                            <span class="fa fa-sort" ng-show="sortKey=='FarmerMobileNo'"
                                                ng-class="{'fa fa-sort-down': reverse, 'fa fa-sort-up': !reverse}"></span>
                                        </th>
                                        <th ng-click="sort('ItemName')" style="cursor: pointer;"
                                            ng-show="ddlItems == 0">
                                            Items
                                            <span class="fa fa-sort" ng-show="sortKey=='ItemName'"
                                                ng-class="{'fa fa-sort-down': reverse, 'fa fa-sort-up': !reverse}"></span>
                                        </th>
                                        <th ng-click="sort('SaleQuantity')" style="cursor: pointer;">
                                            Sale Quantity
                                            <span class="fa fa-sort" ng-show="sortKey=='SaleQuantity'"
                                                ng-class="{'fa fa-sort-down': reverse, 'fa fa-sort-up': !reverse}"></span>
                                        </th>
                                        <th>Location & Item Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        dir-paginate="i in stockOutDetails | orderBy: 'Count': !reverse | filter: search | itemsPerPage: pageSize">
                                        <td ng-show="ddlDistricts == 0">{{i.DistrictName | capitalize}}</td>
                                        <td>{{(i.ReferenceNo == null) ? 'NA' : i.ReferenceNo}}</td>
                                        <td>{{(i.FarmerID == null) ? 'NA' : i.FarmerID}}</td>
                                        <td>{{i.FarmerName | capitalize}}</td>
                                        <td>{{i.FarmerMobileNo}}</td>
                                        <td ng-show="ddlItems == 0">{{i.ItemName | capitalize}}</td>
                                        <td>{{i.SaleQuantity}} {{(i.Unit == 'Q') ? 'Qtls.' : 'Lakh Nos.'}}</td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-info" data-toggle="modal"
                                                data-target="#viewModal" id="btnViewModal"
                                                ng-click="getStockOutLocationItemDetails(i)">View</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="text-align: center;">
                                <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
                                </dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="viewModal">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Location & Item Details</h4>
                            <button type="button" class="close" id="closeViewModal"
                                data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12" ng-show="refNo !== null">
                                    <div class="form-group" style="margin: 1rem 0 0">
                                        <label>Reference No.:</label>
                                        <label>{{refNo}}</label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12" ng-show="refNo !== null">
                                    <div class="form-group" style="margin: 1rem 0 0">
                                        <label>Farmer ID:</label>
                                        <label>{{fID}}</label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group" style="margin: 1rem 0 0">
                                        <label>Item:</label>
                                        <label>{{iNm | capitalize}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover text-wrap">
                                    <thead>
                                        <tr>
                                            <th>Sub-Division</th>
                                            <th>Area Type</th>
                                            <th>Block</th>
                                            <th>GP</th>
                                            <th>Village</th>
                                            <th>Sale Quantity (in {{(ut == 'Q') ? 'Qtls.' : 'Lakh Nos.'}})</th>
                                            <th>Sale Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="i in stockOutlocationItemDetails">
                                            <td style="vertical-align: middle">{{i.SubDivisionName}}</td>
                                            <td style="vertical-align: middle">{{i.AreaType}}</td>
                                            <td style="vertical-align: middle">{{i.BlockName}}</td>
                                            <td style="vertical-align: middle">
                                                {{(i.GPName == null) ? 'NA' : i.GPName}}</td>
                                            <td style="vertical-align: middle">
                                                {{(i.VillageName == null) ? 'NA' : i.VillageName}}</td>
                                            <td>{{i.SaleQuantity}}</td>
                                            <td>{{(i.Date == '01 Jan 2200') ? '25 Apr 2020' : i.Date}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear();
    if (dd < 10) { dd = '0' + dd }
    if (mm < 10) { mm = '0' + mm }
    var today = dd + '/' + mm + '/' + yyyy;
    $('#dateRange').daterangepicker({
        autoUpdateInput: false,
        showDropdowns: true,
        showWeekNumbers: true,
        // autoApply: true,
        maxDate: today,
        alwaysShowCalendars: true,
        ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        locale: {
            format: 'DD-MM-YYYY',
            cancelLabel: 'Clear'
        }
    });
    $('#dateRange').on('apply.daterangepicker', function (ev, picker) {
        $(this).val(picker.startDate.format('DD-MM-YYYY') + ' - ' + picker.endDate.format('DD-MM-YYYY'));
    });
    $('#dateRange').on('cancel.daterangepicker', function (ev, picker) {
        $(this).val('');
    });
</script>