<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Horticulture Produce Marketing</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="<%= csrfToken %>">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="../public/stylesheets/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../AdminLTE/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="../public/stylesheets/cssfamilySourceSansPro300400400i700.css" rel="stylesheet">

    <link href="../public/stylesheets/loader.css" rel="stylesheet">
    <script src="../AdminLTE/plugins/jquery/jquery.min.js"></script>
    <script src="../public/javascripts/angular.min.js"></script>
    <script src="../public/javascripts/angular-filter.min.js"></script>
</head>

<body class="hold-transition login-page" ng-app="myCPApp" ng-controller="myCPCtrl" ng-cloak>
    <!-- <div data-loading></div> -->
    <div class="login-box">
        <div class="login-logo">
            <a href=""><b>Change</b> Password</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Enter Passwords (Old & New)</p>
                <form class="form-horizontal" method="POST" role="form" name="cpForm"
                    ng-submit="changePassword(cpForm.$valid)" ng-init="randomNoInit('<%= randomNo %>')"
                    autocomplete="off" novalidate>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="oldPassword" ng-model="txtOldPassword"
                            maxlength="50" placeholder="Enter Old Password" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div ng-show="cpForm.$submitted || cpForm.oldPassword.$touched"
                        style="color:red; text-align: right;">
                        <span ng-show="cpForm.oldPassword.$error.required">This is a
                            required field</span>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" ng-change="analyzeNP();" ng-minlength="6"
                            name="newPassword" ng-model="txtNewPassword" placeholder="Enter New Password" maxlength="50"
                            required data-toggle="tooltip" data-placement="left"
                            title="The Password must contain at least 1 lowercase & 1 uppercase alphabetical character, 1 numeric character, 1 special character and must be 6 characters or longer">
                        <div class="input-group-append">
                            <div class="input-group-text" style="border-radius: 0 .25rem .25rem 0;">
                                <span ng-style="npCheck" ng-class="nPWDCheck"></span>
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div ng-show="cpForm.$submitted || cpForm.newPassword.$touched"
                        style="color:red; text-align: right;">
                        <span ng-show="cpForm.newPassword.$error.required">This is a
                            required field</span>
                        <span ng-show="cpForm.newPassword.$error.minlength">Password is too
                            short</span>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" ng-change="analyzeCP();" ng-minlength="6"
                            name="confirmPassword" ng-model="txtConfirmPassword" placeholder="Confirm Password"
                            maxlength="50" required data-toggle="tooltip" data-placement="left"
                            title="The Password must contain at least 1 lowercase & 1 uppercase alphabetical character, 1 numeric character, 1 special character and must be 6 characters or longer"
                            placeholder="Confirm Password">
                        <div class="input-group-append">
                            <div class="input-group-text" style="border-radius: 0 .25rem .25rem 0;">
                                <span ng-style="cpCheck" ng-class="cPWDCheck"></span>
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div ng-show="cpForm.$submitted || cpForm.confirmPassword.$touched"
                        style="color:red; text-align: right;">
                        <span ng-show=" cpForm.confirmPassword.$error.required">This is a
                            required field</span>
                        <span ng-show="cpForm.confirmPassword.$error.minlength">Password is
                            too short</span>
                        <span>{{pnm}}</span>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Change password</button>
                        </div>
                    </div>
                </form>
                <p class="mt-3 mb-1">
                    <a id='logoutLink' href="http://localhost:3000/changePassword/logout"><i
                            class="fa fa-power-off"></i> Logout</a>
                </p>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../AdminLTE/dist/js/adminlte.min.js"></script>
    <script>
        var app = angular.module('myCPApp', ['angular.filter']);
        app.directive('loading', ['$http', function ($http) {
            return {
                restrict: 'A',
                template: '<div class="lds-eclipse" style="background: white; z-index: 99999; position: fixed"><div style="margin: 15% 43%"></div></div>',
                // Loading&#8230;
                link: function (scope, elm, attrs) {
                    scope.isLoading = function () {
                        return $http.pendingRequests.length > 0;
                    };
                    scope.$watch(scope.isLoading, function (v) {
                        if (v) {
                            elm.css('display', 'block');
                        } else {
                            elm.css('display', 'none');
                        }
                    });
                }
            };
        }]);
    </script>
    <script>
        history.pushState(null, document.title, location.href);
        window.addEventListener('popstate', function (event) {
            history.pushState(null, document.title, location.href);
        });
    </script>
    <script src="../public/controllers/myCPCtrl.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script type="text/javascript" src="../public/javascripts/sha256.min.js"></script>
</body>

</html>