<%- include('header.ejs') -%>
<div class="content-outer" id="COntentDiv" style="padding-bottom: 0">
    <div id="container" class="clearfix">
        <section id="main" role="main" class="clearfix">
            <div class="messages error">
                <h2 class="element-invisible">Error message</h2>
                <ul>
                    <li><em class="placeholder">Warning</em>: Creating default object from empty value in <em
                            class="placeholder">ctools_access_get_loggedin_context()</em> (line <em
                            class="placeholder">1411</em> of <em
                            class="placeholder">/var/www/html/sites/all/modules/ctools/includes/context.inc</em>).</li>
                    <li><em class="placeholder">Warning</em>: Creating default object from empty value in <em
                            class="placeholder">ctools_access_get_loggedin_context()</em> (line <em
                            class="placeholder">1411</em> of <em
                            class="placeholder">/var/www/html/sites/all/modules/ctools/includes/context.inc</em>).</li>
                </ul>
            </div>
            <div class="side-left"
                style="text-align: center; margin-left: 250px; width: 60%; background-image: linear-gradient(#5dbec0, #149fa1)">
                <img src="../gigw/nielit.gov.in/sites/default/files/M Muthukumar.jpg" style="padding: 10px;">
                <h3 style="color: black; margin-top: 3px;FONT-SIZE: 15px; margin-bottom: 3px; font-weight: 700;">DR.
                    M.MUTHUKUMAR, IAS</h3>
                <h3 style="color: black; margin-top: 3px; margin-bottom: 10px;FONT-SIZE: 15px; font-weight: 700;">
                    DIRECTOR </h3>
                <div class="content" style="text-align: center; width: 75%;">
                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                        <div class="field-items">
                            <div class="field-item even">
                                <p style="text-align: justify;"></p>
                            </div>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<%- include('footer.ejs') -%>