<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <link rel="alternate" type="application/rss+xml" href="#" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
    <meta name="csrf-token" content="<%= csrfToken %>">
    <!-- Favicon -->
    <link href="../public/stylesheets/cssfamilyRoboto400400i500700.css" rel="stylesheet">
    <title>Horticulture Produce Marketing</title>
    <link rel="icon" href="../../gigw/nielit.gov.in/sites/all/themes/berry/images/favicon.ico" type="image/x-icon" />
    <style type="text/css" media="all">
        @import url("../gigw/beta.nielit.gov.in/modules/system/system.basef1c9.css?oys4cm");
        @import url("../gigw/beta.nielit.gov.in/modules/system/system.menusf1c9.css?oys4cm");
        @import url("../gigw/beta.nielit.gov.in/modules/system/system.messagesf1c9.css?oys4cm");
        @import url("../gigw/beta.nielit.gov.in/modules/system/system.themef1c9.css?oys4cm");
    </style>
    <style type="text/css" media="all">
        @import url("../gigw/beta.nielit.gov.in/modules/comment/commentf1c9.css?oys4cm");
        @import url("../gigw/beta.nielit.gov.in/sites/all/modules/date/date_api/datef1c9.css?oys4cm");
        @import url("../gigw/beta.nielit.gov.in/sites/all/modules/date/date_popup/themes/datepicker.1.7f1c9.css?oys4cm");
        @import url("../gigw/beta.nielit.gov.in/sites/all/modules/domain/domain_nav/domain_navf1c9.css?oys4cm");
        @import url("../gigw/beta.nielit.gov.in/modules/field/theme/fieldf1c9.css?oys4cm");
        @import url("../gigw/beta.nielit.gov.in/modules/node/nodef1c9.css?oys4cm");
        @import url("../gigw/beta.nielit.gov.in/modules/search/searchf1c9.css?oys4cm");
        @import url("../gigw/beta.nielit.gov.in/modules/user/userf1c9.css?oys4cm");
        @import url("../gigw/beta.nielit.gov.in/modules/forum/forumf1c9.css?oys4cm");
        @import url("../gigw/beta.nielit.gov.in/sites/all/modules/views/css/viewsf1c9.css?oys4cm");
        @import url("../gigw/beta.nielit.gov.in/sites/all/modules/ckeditor/css/ckeditorf1c9.css?oys4cm");
    </style>
    <style type="text/css" media="all">
        @import url("../gigw/beta.nielit.gov.in/sites/all/modules/ctools/css/ctoolsf1c9.css?oys4cm");
        @import url("../gigw/beta.nielit.gov.in/sites/all/modules/panels/css/panelsf1c9.css?oys4cm");
        @import url("../gigw/beta.nielit.gov.in/sites/all/modules/taxonomy_access/taxonomy_accessf1c9.css?oys4cm");
        @import url("../gigw/beta.nielit.gov.in/modules/locale/localef1c9.css?oys4cm");
        @import url("../gigw/beta.nielit.gov.in/sites/all/modules/custom_search/custom_searchf1c9.css?oys4cm");
        @import url("../gigw/beta.nielit.gov.in/sites/all/modules/responsive_menus/styles/responsive_menus_simple/css/responsive_menus_simplef1c9.css?oys4cm");
        @import url("../gigw/beta.nielit.gov.in/sites/all/modules/styleswitcher/styleswitcher.overlayf1c9.css?oys4cm");
    </style>
    <style type="text/css" media="all">
        @import url("../gigw/beta.nielit.gov.in/sites/all/themes/berry/mainf1c9.css?oys4cm");
        @import url("../gigw/beta.nielit.gov.in/sites/all/themes/berry/gh-pages/css/demof1c9.css?oys4cm");
        @import url("../gigw/beta.nielit.gov.in/sites/all/themes/berry/gh-pages/css/rainbow/githubf1c9.css?oys4cm");
    </style>
    <style type="text/css" media="print">
        @import url("../gigw/beta.nielit.gov.in/sites/all/themes/berry/css/printf1c9.css?oys4cm");
    </style>
    <script type="text/javascript" src="../public/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="../public/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="../../public/javascripts/angular-filter.min.js"></script>
    <script type="text/javascript" src="../gigw/beta.nielit.gov.in/misc/jquery.once7839.js?v=1.2"></script>
    <script type="text/javascript" src="../gigw/beta.nielit.gov.in/misc/drupalf1c9.js?oys4cm"></script>
    <script type="text/javascript"
        src="../gigw/beta.nielit.gov.in/sites/all/modules/jquery_update/replace/ui/external/jquery.cookie1683.js?v=67fb34f6a866c40d0570"></script>
    <script type="text/javascript"
        src="../gigw/beta.nielit.gov.in/sites/all/modules/custom_search/js/custom_searchf1c9.js?oys4cm"></script>
    <script type="text/javascript"
        src="../gigw/beta.nielit.gov.in/sites/all/modules/responsive_menus/styles/responsive_menus_simple/js/responsive_menus_simplef1c9.js?oys4cm"></script>
    <script type="text/javascript"
        src="../gigw/beta.nielit.gov.in/sites/all/modules/google_analytics/googleanalyticsf1c9.js?oys4cm"></script>
    <script type="text/javascript"
        src="../gigw/beta.nielit.gov.in/sites/all/modules/styleswitcher/styleswitcherf1c9.js?oys4cm"></script>
    <script type="text/javascript"
        src="../gigw/beta.nielit.gov.in/sites/all/themes/berry/js/sliderf1c9.js?oys4cm"></script>
    <script type="text/javascript">
        history.pushState(null, document.title, location.href);
        window.addEventListener('popstate', function (event) {
            history.pushState(null, document.title, location.href);
        });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('.navigation li').hover(
                function () {
                    jQuery('ul', this).slideDown();
                },
                function () {
                    jQuery('ul', this).slideUp();
                }
            );
        });
    </script>
</head>

<body
    class="html front not-logged-in one-sidebar sidebar-first page-node domain-nielit-akalinfosys-com i18n-en">
    <meta property="og:description" data-name="description" content="Horticulture Produce Marketing">
    <meta property="og:keywords" data-name="keywords" content="Horticulture Produce Marketing">
    <meta property="og:title" data-name="title"
        content="Department of Agriculture & Farmers' Empowerment, Government of Odisha">
    <meta property="og:language" data-name="language" content="en">
    <script type="text/javascript" src="../gigw/nielit.gov.in/sites/all/themes/berry/js/jquery.min.js"></script>
    <script type="text/javascript" src="../gigw/nielit.gov.in/sites/all/themes/berry/js/jquery.vticker-min.js"></script>
    <script type="text/javascript" src="../gigw/nielit.gov.in/sites/all/themes/berry/js/breakingNews.js"></script>
    <script type="text/javascript" src="../gigw/nielit.gov.in/sites/all/themes/berry/js/jquery.scrollbox.js"></script>
    <script type="text/javascript" src="../gigw/nielit.gov.in/sites/all/themes/berry/js/jquery.flexnav.js"></script>
    <link type="text/css" rel="stylesheet" property="stylesheet"
        href="../gigw/nielit.gov.in/sites/all/themes/berry/css/breakingNews.css" />
    <link type="text/css" rel="stylesheet" property="stylesheet"
        href="../gigw/nielit.gov.in/sites/all/themes/berry/media.css" />
    <script>
        (function ($) {
            // Menu Functions
            $(document).ready(function () {
                $('#menuToggle').click(function (e) {
                    var $parent = $(this).parent('.map');
                    $parent.toggleClass("open");
                    var navState = $parent.hasClass('open') ? "hide" : "show";
                    $(this).attr("title", navState + " navigation");
                    // Set the timeout to the animation length in the CSS.
                    setTimeout(function () {
                        $('#menuToggle > span').toggleClass("navClosed").toggleClass("navOpen");
                    }, 1000);
                    e.preventDefault();
                });
            });
        })(jQuery);
        // On Mouse Hover
        $(".map a").hover(function () {
            $(this).append("<div class='pin'><img alt='pin' src='../gigw/nielit.gov.in/sites/all/themes/berry/images/pin.png'/></div>")
        }, function () {
            $(this).children("div").remove();
        });
    </script>
    <div class="topbar-outer">
        <div class="topbar">
            <div class="topbar-right">
                <ul>
                    <li id="header-hide"><a href="screenReader">Screen Reader Access</a></li>
                    <li class="header-hide header-skip"><a href="#COntentDiv">Skip to main content</a></li>
                    <li class="header-hide">
                        <div class="region region-sidebar-first">
                            <section id="block-styleswitcher-styleswitcher" class="block block-styleswitcher">
                                <h2 class="block-title">Style Switcher</h2>
                                <div class="content">
                                    <div class="item-list">
                                        <ul>
                                            <li class="first">
                                                <a href="#" id="light"
                                                    class="style-switcher custom-style style-default active styleswitcher-processed"
                                                    rel="nofollow">.....</a>
                                            </li>
                                            <li class="last">
                                                <a href="#"
                                                    class="style-switcher custom-style style-theme2 styleswitcher-processed"
                                                    id="dark" data-rel="custom/theme2" rel="nofollow">.....</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </li>
                    <li class="header-hide aminus"><a href="#" id="decfont"><img alt="font small"
                                src="../gigw/nielit.gov.in/sites/all/themes/berry/images/a-minus.png" width="12"
                                height="12"></a></li>
                    <li class="header-hide anormal"><a href="#" id="normal"><img alt="font normal"
                                src="../gigw/nielit.gov.in/sites/all/themes/berry/images/a-normal.png" width="11"
                                height="11"></a></li>
                    <li class="header-hide aplus"><a href="#" id="incfont"><img alt="font increase"
                                src="../gigw/nielit.gov.in/sites/all/themes/berry/images/a-plus.png"></a></li>
                    <li id="header-hindi">
                        <div class="region region-language-switcher">
                            <section id="block-locale-language" class="block block-locale">
                                <h2 class="block-title">Languages</h2>
                                <div class="content">
                                    <ul class="language-switcher-locale-url">
                                        <li class="en first active"><a href="index.html" class="language-link active"
                                                xml:lang="en" lang="en"><img class="language-icon"
                                                    src="../gigw/beta.nielit.gov.in/sites/all/modules/languageicons/flags/en.png"
                                                    width="16" height="12" alt="English" title="English" /> English</a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </li>
                    <li id="header-search">
                        <div class="region region-content-search">
                            <section id="block-custom-search-blocks-1" class="block block-custom-search-blocks">
                                <h2 class="block-title">Custom Search 1</h2>
                                <div class="content">
                                    <form class="search-form" role="search"
                                        action="https://www.google.co.in/search?q=site:http://localhost:3000"
                                        method="get" id="custom-search-blocks-form-1" accept-charset="UTF-8">
                                        <div>
                                            <div
                                                class="form-item form-type-textfield form-item-custom-search-blocks-form-1">
                                                <label class="element-invisible"
                                                    for="edit-custom-search-blocks-form-1--2">Search this site </label>
                                                <input title="Enter the terms you wish to search for."
                                                    class="custom-search-box form-text" placeholder="" type="text"
                                                    id="edit-custom-search-blocks-form-1--2"
                                                    name="custom_search_blocks_form_1" value="" size="15"
                                                    maxlength="128" />
                                            </div>
                                            <input type="hidden" name="delta" value="1" />
                                            <input type="hidden" name="form_build_id"
                                                value="form-H-ghrGdY0vmcaLQcFK9i7sA2J4HVbwm0MZZNt3AWdlo" />
                                            <input type="hidden" name="form_id" value="custom_search_blocks_form_1" />
                                            <div class="form-actions form-wrapper" id="edit-actions"><input
                                                    type="submit" id="edit-submit" name="op" value="Search"
                                                    class="form-submit" /></div>
                                        </div>
                                    </form>
                                </div>
                            </section>
                        </div>
                    </li>
                    <!-- <li style="margin-top: 1px">
                        <a placement="bottom" title="Odia" href="/odiahome" id="btnodia" style="background: #007dc1; color: #ffffff; padding: 2px; border: 1px solid #000000">ଓଡିଆ</a>
                    </li>
                    <li style="margin-top: 1px">
                        <a placement="bottom" title="English" href="/home" id="btneng" style="background: #007dc1; color: #ffffff; padding: 2px; border: 1px solid #000000">English</a>
                    </li> -->
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-outer">
        <div class="header">
            <div class="header-left">
                <div class="header-left-logo" style="margin-top: 10px"><a href="home"><img alt="Site Logo"
                            src="../gigw/nielit.gov.in/sites/all/themes/berry/images/SiteLogo.png"
                            style="width: 75px; height: 75px" /></a></div>
                <div class="header-left-text" style="margin: 22px 0 0 10px">
                    <!-- <p class="hindi" style="font-size: 17px">
                        <b></b>
                    </p> -->
                    <p><b>Horticulture Produce Marketing</b></p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="header-right">
                <div class="emblem" style="margin-bottom: 5px">
                    <div id="english" style="margin-top: 10px; line-height: 17px">
                        <div id="headerrighttext">କୃଷି ଓ କୃଷକ ସଶକ୍ତିକରଣ ବିଭାଗ</div>
                        <div id="headerrighttext">ଓଡିଶା ସରକାର</div>
                        <div id="headerrighttext">Department of Agriculture & Farmers' Empowerment</div>
                        <div id="headerrighttext">Government of Odisha</div>
                    </div>
                    <div id="rightlogo"><img alt="Logo Of Govt. of Odisha"
                            src="../gigw/nielit.gov.in/sites/all/themes/berry/images/ogp-logo.png" /></div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <nav id="block-style-main-menu">
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
        <ul class="menu">
            <li class="first leaf"><a href="home" title="" class="active">Home</a></li>
            <!-- <li class="leaf"><a href="aboutus" title="">About us</a></li> -->
            <li class="expanded">
                <a href="#" id="Gallery" title="">Gallery</a>
                <ul class="menu">
                    <li class="first leaf"><a href="photoGallery" title="">Photo Gallery</a></li>
                    <li class="leaf"><a href="videoGallery" title="">Video Gallery</a></li>
                </ul>
            </li>
            <li class="expanded">
                <a href="#" id="ContactUs" title="">Contact Us</a>
                <ul class="menu">
                    <li class="first leaf"><a href="ddhList" title="">DDH List</a></li>
                    <li class="leaf"><a href="tradersList" title="">Traders List</a></li>
                </ul>
            </li>
            <li class="expanded">
                <a href="#" id="ContactUs" title="">Soil Fertility</a>
                <ul class="menu">
                    <li class="first leaf"><a href="soilFertilityStatus" title="">Maps</a></li>
                    <li class="leaf"><a href="soilProperties" title="">Farmers' Soil Properties</a></li>
                </ul>
            </li>
            <li class="leaf"><a href="login" title="">Login</a></li>
            <!-- <li class="last expanded">
                <a href="#" id="abc" title="">ABC</a>
                <ul class="menu">
                    <li class="first leaf"><a href="" title=""></a></li>
                    <li class="leaf"><a href="" title=""></a></li>
                </ul>
            </li> -->
        </ul>
    </nav>
    <!--@RenderBody()-->