<%- include('header.ejs') -%>
<div class="content-outer" id="COntentDiv">
    <div id="container" class="clearfix">
        <section id="main" role="main" class="clearfix">
            <div class="messages error">
                <h2 class="element-invisible">Error message</h2>
                <ul>
                    <li><em class="placeholder">Warning</em>: Creating default object from empty value in <em
                            class="placeholder">ctools_access_get_loggedin_context()</em> (line <em
                            class="placeholder">1411</em> of <em
                            class="placeholder">/var/www/html/sites/all/modules/ctools/includes/context.inc</em>).</li>
                    <li><em class="placeholder">Warning</em>: Creating default object from empty value in <em
                            class="placeholder">ctools_access_get_loggedin_context()</em> (line <em
                            class="placeholder">1411</em> of <em
                            class="placeholder">/var/www/html/sites/all/modules/ctools/includes/context.inc</em>).</li>
                </ul>
            </div>
            <div class="breadcrumb" style="width: 100%;">
                <h2 class="element-invisible">You are here</h2><a href="/">Home</a><span id="breadcumtitle">Hyperlink
                    Policy</span>
            </div>
            <div class="side-left" style="width: 100%;">
                <h1>Hyperlink Policy</h1>
                <div class="content">
                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                        <div class="field-items">
                            <div class="field-item even">
                                <h4><strong>Links to external websites / portals</strong></h4>
                                <p>At many places in this website, you shall find links to other websites / portals. The
                                    links have been placed for your convenience. Horticulture Produce Marketing is not
                                    responsible for the contents and reliability of the linked websites and does not
                                    necessarily endorse the views expressed in them. Mere presence of the link or its
                                    listing on this Portal should not be assumed as endorsement of any kind. We cannot
                                    guarantee that these links will work all the time and we have no control over
                                    availability of linked pages.</p>
                                <h4><strong>Links to odihortmarketing.nic.in - Website by other websites</strong>
                                </h4>
                                <p>We do not object to you linking directly to the information that is hosted on this
                                    site and no prior permission is required for the same. However, we would like you to
                                    inform us about any links provided to this Portal so that you can be informed of any
                                    changes or updations therein. Also, we do not permit our pages to be loaded into
                                    frames on your site. The pages belonging to this site must load into a newly opened
                                    browser window of the User.</p>
                            </div>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<%- include('footer.ejs') -%>