<%- include('header.ejs') -%>
<div class="content-outer" id="COntentDiv">
    <div id="container" class="clearfix">
        <section id="main" role="main" class="clearfix">
            <div class="messages error">
                <h2 class="element-invisible">Error message</h2>
                <ul>
                    <li><em class="placeholder">Warning</em>: Creating default object from empty value in <em
                            class="placeholder">ctools_access_get_loggedin_context()</em> (line <em
                            class="placeholder">1411</em> of <em
                            class="placeholder">/var/www/html/sites/all/modules/ctools/includes/context.inc</em>).</li>
                    <li><em class="placeholder">Warning</em>: Creating default object from empty value in <em
                            class="placeholder">ctools_access_get_loggedin_context()</em> (line <em
                            class="placeholder">1411</em> of <em
                            class="placeholder">/var/www/html/sites/all/modules/ctools/includes/context.inc</em>).</li>
                </ul>
            </div>
            <div class="breadcrumb" style="width: 100%;">
                <h2 class="element-invisible">You are here</h2><a href="/">Home</a><span id="breadcumtitle">Privacy
                    Policy</span>
            </div>
            <div class="side-left" style="width: 100%;">
                <h1>Privacy Policy</h1>
                <div class="content">
                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                        <div class="field-items">
                            <div class="field-item even">
                                <p>odihortmarketing.nic.in - Website does not automatically capture any specific
                                    personal information from you, (like name, phone number or e-mail address), that
                                    allows us to identify you individually. If the odihortmarketing.nic.in - Website
                                    requests you to provide personal information, you will be informed for the
                                    particular purposes for which the information is gathered and adequate security
                                    measures will be taken to protect your personal information.</p>
                                <p>We do not sell or share any personally identifiable information volunteered on the
                                    odihortmarketing.nic.in - Website to any third party (public / private). Any
                                    information provided to this website will be protected from loss, misuse,
                                    unauthorized access or disclosure, alteration, or destruction.</p>
                                <p>We gather certain information about the User, such as Internet protocol (IP)
                                    addresses, domain name, browser type, operating system, the date and time of the
                                    visit and the pages visited. We make no attempt to link these addresses with the
                                    identity of individuals visiting our site unless an attempt to damage the site has
                                    been detected.</p>
                                <p><strong>Webmaster</strong></p>
                                <p>odihortmarketing.nic.in - Website</p>
                            </div>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<%- include('footer.ejs') -%>