<%- include('header.ejs') -%>
<div class="content-outer" id="COntentDiv">
    <div id="container" class="clearfix">
        <section id="main" role="main" class="clearfix">
            <div class="messages error">
                <h2 class="element-invisible">Error message</h2>
                <ul>
                    <li><em class="placeholder">Warning</em>: Creating default object from empty value in <em
                            class="placeholder">ctools_access_get_loggedin_context()</em> (line <em
                            class="placeholder">1411</em> of <em
                            class="placeholder">/var/www/html/sites/all/modules/ctools/includes/context.inc</em>).</li>
                    <li><em class="placeholder">Warning</em>: Creating default object from empty value in <em
                            class="placeholder">ctools_access_get_loggedin_context()</em> (line <em
                            class="placeholder">1411</em> of <em
                            class="placeholder">/var/www/html/sites/all/modules/ctools/includes/context.inc</em>).</li>
                </ul>
            </div>
            <div class="breadcrumb" style="width: 100%;">
                <h2 class="element-invisible">You are here</h2><a href="/">Home</a><span id="breadcumtitle">TERMS &amp;
                    CONDITIONS</span>
            </div>
            <div class="side-left" style="width: 100%;">
                <h1>TERMS & CONDITIONS</h1>
                <div class="content">
                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                        <div class="field-items">
                            <div class="field-item even">
                                <p>This official website of the "Horticulture Produce Marketing" has been developed to
                                    provide information to the general public. The documents and information displayed
                                    in this website are for reference purposes only and does not purport to be a legal
                                    document.</p>
                                <p>Horticulture Produce Marketing does not warrant the accuracy or completeness of the
                                    information, text, graphics, links or other items contained within the Website. As a
                                    result of updates and corrections, the web contents are subject to change without
                                    any notice from "Horticulture Produce Marketing" at odihortmarketing.nic.in
                                    website.</p>
                                <p>In case of any variance between what has been stated and that contained in the
                                    relevant Act, Rules, Regulations, Policy Statements etc, the latter shall prevail.
                                </p>
                                <p>Any specific advice or replies to queries in any part of the website is / are the
                                    personal views / opinion of such experts / consultants / persons and are not
                                    necessarily subscribed to by this Company or its websites.</p>
                                <p>Certain links on the website lead to resources located on other websites maintained
                                    by third parties over whom Horticulture Produce Marketing has no control or
                                    connection. These websites are external to Horticulture Produce Marketing and by
                                    visiting these; you are outside the odihortmarketing.nic.in website and its
                                    channels. odihortmarketing.nic.in neither endorses in any way nor offers any
                                    judgment or warranty and accepts no responsibility or liability for the
                                    authenticity, availability of any of the goods or services or for any damage, loss
                                    or harm, direct or consequential or any violation of local or international laws
                                    that may be incurred by your visiting and transacting on these websites.</p>
                                <p>
                                    Webmaster<br>
                                    odihortmarketing.nic.in - Website<br>
                                    Email:&nbsp; <img style="border: 0; width: 125px"
                                        src="../gigw/nielit.gov.in/sites/all/themes/berry/images/email1.png"
                                        alt="email address">
                                </p>
                            </div>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<%- include('footer.ejs') -%>