<%- include('header.ejs') -%>
<div class="content-outer" id="COntentDiv">
    <div id="container" class="clearfix">
        <section id="main" role="main" class="clearfix">
            <div class="messages error">
                <h2 class="element-invisible">Error message</h2>
                <em class="placeholder">Warning</em>: Creating default object from empty value in <em
                    class="placeholder">ctools_access_get_loggedin_context()</em> (line <em
                    class="placeholder">1411</em> of <em
                    class="placeholder">/var/www/html/sites/all/modules/ctools/includes/context.inc</em>).
            </div>
            <div class="breadcrumb">
                <h2 class="element-invisible">You are here</h2><a href="/">Home</a> <a href="/">About us</a><span
                    id="breadcumtitle">Policies &amp; Guidelines </span>
            </div>
            <div class="side-left">
                <h1>
                    Website Policies
                </h1>
                <div class="content">
                    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                        <div class="field-items">
                            <div class="field-item even">
                                <p>This is the Official website of Horticulture Produce Marketing, designed, developed
                                    and hosted by NIC.</p>
                                <p>The site has been developed to provide information to the general public. An attempt
                                    has been made through this site to provide reliable, comprehensive, accurate
                                    information about Horticulture Produce Marketing and its various Entities.
                                    Hyperlinks at various places have been provided to other Indian Government Portals /
                                    Websites.</p>
                                <p>The content in this site is the result of a collaborative effort of various Groups
                                    and Divisions of the Department. It is our endeavour to continue the enhancement and
                                    enrichment of this site in terms of content coverage, design and technology on a
                                    regular basis.</p>
                                <ul>
                                    <li>
                                        <p><a href="copyrightPolicy" target="_self" title="Copyright Policy">Copyright
                                                Policy</a></p>
                                    </li>
                                    <li>
                                        <p><a href="hyperlinkPolicy" target="_self"
                                                title="Hyperlinking Policy">Hyperlink Policy</a></p>
                                    </li>
                                </ul>
                                <p><strong>Webmaster</strong></p>
                                <p>
                                    odihortmarketing.nic.in - Website<br>
                                </p>
                            </div>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<%- include('footer.ejs') -%>