<div class="right_col" role="main" ng-controller="mySuperAdminChangePasswordCtrl" style="min-height: 100vh">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3><%= title %></h3>
            </div>
            <div class="title_right">
                <!-- <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Enter Passwords <small>(Old & New)</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <div class="col-md-1 col-sm-1 col-xs-12"></div>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <form class="form-horizontal" method="POST" role="form" name="cpForm"
                                ng-submit="changePassword(cpForm.$valid)" ng-init="randomNoInit('<%= randomNo %>')"
                                autocomplete="off" novalidate>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                        style="text-align: left">Enter Old Password</label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <input type="password" class="form-control" name="oldPassword"
                                            ng-model="txtOldPassword" placeholder="Enter Old Password" maxlength="50"
                                            required>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-12"></div>
                                    <div class="has-error col-md-3 col-sm-3 col-xs-12"
                                        ng-show="cpForm.$submitted || cpForm.oldPassword.$touched" style="color:red">
                                        <span ng-show="cpForm.oldPassword.$error.required">This is a required
                                            field</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                        style="text-align: left">Enter New Password</label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <input type="password" class="form-control"
                                            ng-change="analyzeNP(txtNewPassword)" ng-minlength="6" name="newPassword"
                                            ng-model="txtNewPassword" placeholder="Enter New Password" maxlength="50"
                                            required data-toggle="tooltip"
                                            title="The Password must contain at least 1 lowercase & 1 uppercase alphabetical character, 1 numeric character, 1 special character and must be 6 characters or longer">
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-12"><span ng-style="npCheck"
                                            ng-class="nPWDCheck"></span></div>
                                    <div class="has-error col-md-3 col-sm-3 col-xs-12"
                                        ng-show="cpForm.$submitted || cpForm.newPassword.$touched" style="color:red">
                                        <span ng-show="cpForm.newPassword.$error.required">This is a required
                                            field</span>
                                        <span ng-show="cpForm.newPassword.$error.minlength">Password is too short</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                        style="text-align: left">Confirm Password</label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <input type="password" class="form-control"
                                            ng-change="analyzeCP(txtConfirmPassword)" ng-minlength="6"
                                            name="confirmPassword" ng-model="txtConfirmPassword"
                                            placeholder="Confirm Password" maxlength="50" required data-toggle="tooltip"
                                            title="The Password must contain at least 1 lowercase & 1 uppercase alphabetical character, 1 numeric character, 1 special character and must be 6 characters or longer">
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-12"><span ng-style="cpCheck"
                                            ng-class="cPWDCheck"></span></div>
                                    <div class="has-error col-md-3 col-sm-3 col-xs-12"
                                        ng-show="cpForm.$submitted || cpForm.confirmPassword.$touched"
                                        style="color:red">
                                        <span ng-show="cpForm.confirmPassword.$error.required">This is a required
                                            field</span>
                                        <span ng-show="cpForm.confirmPassword.$error.minlength">Password is too
                                            short</span>
                                        <span>{{pnm}}</span>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12 col-md-pull-3 col-sm-pull-3 col-xs-pull-3"
                                    style="text-align: center">
                                    <input type="submit" class="btn btn-success" value="Submit"
                                        ng-disabled="cpForm.$invalid" />
                                </div>
                            </form>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>